* {
  box-sizing: border-box;
}
#myImg{
  height:200px;
  width:200px;
  border: 2px solid black;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI';
  font-size: 25px;



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


#imageCard{
  width: 560px;
  height: 450px;
}


#middle-icon{
  font-size: 5rem;
  color: #F36547;
}

.far{
  font-size: 2rem;
}
.form input {
  min-width: 400px;
  display: block;
  margin: 20px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
}

.form input:focus {
  box-shadow: 5px 5px 15px #a8a8a8;
}

.form .btn {
  margin: auto;
  padding: 10px 35px;
  background-color: #f1a566;
  color: #fff;
  border: none;
  font-size: 22px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

.form .btn:hover {
  box-shadow: 5px 5px 15px #aaa;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 50vw;
  position: absolute;
  bottom: 0px;
  font-size: 35px;
}

.left-section .form {
  float: left;
  margin: 35vh auto;
}

.right-section .form {
  float: right;
  margin: 30vh auto;
  right: 0;
}

.cover .switch-btn {
  position: absolute;
  bottom: 0;
  font-size: 25px;
  margin: 40vh auto;
  padding: 10px 55px;
  background-color: #f1a566;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

.cover .switch-btn:hover {
  box-shadow: 5px 5px 15px #aaa;
}

.left-section .cover {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.left-section .cover img {
  height: 100vh;
  width: 50vw;
}

.left-section .cover h1 {
  position: absolute;
  bottom: 0;
  margin: 60vh auto;
  color: #fff;
  font-size: 50px;
}

.left-section .cover h3 {
  position: absolute;
  bottom: 0;
  margin: 50vh auto;
  color: #fff;
  font-size: 35px;
}

.left-section .cover-hide {
  visibility: hidden;
}

.left-section .form-hide {
  visibility: hidden;
}

.right-section .cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-section .cover img {
  height: 100vh;
  width: 50vw;
}

.right-section .cover h1 {
  position: absolute;
  bottom: 0;
  margin: 60vh auto;
  font-size: 50px;
  color: #fff;
}

.right-section .cover h3 {
  position: absolute;
  bottom: 0;
  margin: 50vh auto;
  color: #fff;
  font-size: 35px;
}

.right-section .cover-hide {
  visibility: hidden;
}

.right-section .form-hide {
  visibility: hidden;
}

.fade-in-element {
  animation-name: fade-in-element;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-element {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card {

    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3)
}


.card h3 {
    position: absolute;
    bottom: 10px;
    color: black;
}

.tinderCards__likes{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.swipeTwo{
  position: flex;
}
.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.moveLikes{
  margin-left: 5%;
}
/* stacks cards on top of each other */
.moveContainer{
  margin-left: 35%;
}
.swipe {
    position: absolute;
}

.icons{
  font-size: 5rem;
}
/* buttons  */
#homeProfile{
  text-align: center;
}
#upDateHome{
  text-align: center;
}
.swipeButtons {

    position: fixed;
    bottom: 5vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}


.swipeButtons__left {
    padding: 3vw !important;
    color: #ec5e6f !important;
}

.swipeButtons__star {
    padding: 3vw !important;
    color: #62b4f9 !important;
}

.swipeButtons__right {
    padding: 3vw !important;
    color: #76e2b3 !important;
}

.swipeButtons__lightning {
    padding: 3vw !important;
    color: #915dd1 !important;
}
